<!doctype html>
<title>{% block title %}Welcome{% endblock %} | thengrow</title>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.7.1.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/utils.js')}}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% block js %}{% endblock%}
<div class=page>
  <h1>thengrow</h1>
  <div class=navigation>
  {% if g.user %}
    <a href="{{ url_for('timeline') }}">my timeline</a> |
    <a href="{{ url_for('public_timeline') }}">public timeline</a> |
    <a href="/">reader</a> |
    <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
  {% else %}
    <a href="{{ url_for('public_timeline') }}">public timeline</a> |
    <a href="{{ url_for('register') }}">sign up</a> |
    <a href="{{ url_for('login') }}">sign in</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class=flashes>
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    learn language, without remember.
  </div>
</div>
