<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reader_style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reader_ui.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-tagsinput.css') }}">
<link rel="stylesheet" type="text/css" href="static/bootstrap/dist/css/bootstrap.css">
<script type="text/javascript" src="static/js/porterstemmer.js"></script>
<script type="text/javascript" src="static/js/utils.js"></script>
<script type="text/javascript" src="static/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="static/js/apache.jquery.couch.js"></script>
<script type="text/javascript" src="static/js/jquery.myhighlight-3.js"></script>
<script type="text/javascript" src="static/js/jquery.shortcuts.js"></script>
<script type="text/javascript" src="static/js/engrow.js"></script>
<script type="text/javascript" src="static/js/md5.js"></script>
<script type="text/javascript" src="static/js/ui.js"></script>
<script type="text/javascript" src="static/js/bootstrap-tagsinput.js"></script>


<script type="text/javascript" src="static/bootstrap/dist/js/bootstrap.min.js"></script>    
<script type="text/javascript">
	//NO_WTI = true;
/*
	function init_contextmenu(tag_info_by_name){
		var menu = ui.menu();
		for(var i in tag_info_by_name){
			menu.add(i,function(){
				(function())
			});
			tag_info_by_name[i] 
		}
	}
*/
function getSelectionDimensions() {
    var sel = document.selection, range;
    var width = 0, height = 0;
    if (sel) {
        if (sel.type != "Control") {
            range = sel.createRange();
            width = range.boundingWidth;
            height = range.boundingHeight;
        }
    } else if (window.getSelection) {
        sel = window.getSelection();
        if (sel.rangeCount) {
            range = sel.getRangeAt(0).cloneRange();
            if (range.getBoundingClientRect) {
                var rect = range.getBoundingClientRect();
                width = rect.right - rect.left;
                height = rect.bottom - rect.top;
            }
        }
    }
    return { width: width , height: height };
}

var markSelection = function() {
    var markerTextChar = "\ufeff";
    var markerTextCharEntity = "&#xfeff;";

    var markerEl, markerId = "sel_" + new Date().getTime() + "_" + Math.random().toString().substr(2);

    var selectionEl;

    
    var sel, range;
    
    if (document.selection && document.selection.createRange) {
      // Clone the TextRange and collapse
      range = document.selection.createRange().duplicate();
      range.collapse(false);
      
      // Create the marker element containing a single invisible character by creating literal HTML and insert it
      range.pasteHTML('<span id="' + markerId + '" style="position: relative;">' + markerTextCharEntity + '</span>');
      markerEl = document.getElementById(markerId);
    } else if (window.getSelection) {
      sel = window.getSelection();
      
      if (sel.getRangeAt) {
        range = sel.getRangeAt(0).cloneRange();
      } else {
        // Older WebKit doesn't have getRangeAt
        range.setStart(sel.anchorNode, sel.anchorOffset);
        range.setEnd(sel.focusNode, sel.focusOffset);
        
        // Handle the case when the selection was selected backwards (from the end to the start in the
        // document)
        if (range.collapsed !== sel.isCollapsed) {
          range.setStart(sel.focusNode, sel.focusOffset);
          range.setEnd(sel.anchorNode, sel.anchorOffset);
        }
      }
      
      range.collapse(false);
      
      // Create the marker element containing a single invisible character using DOM methods and insert it
      markerEl = document.createElement("span");
      markerEl.id = markerId;
      markerEl.appendChild( document.createTextNode(markerTextChar) );
      range.insertNode(markerEl);
    }
    
    if (markerEl) {
      // Lazily create element to be placed next to the selection
      if (!selectionEl) {
        selectionEl = document.createElement("div");
        selectionEl.id = "big";
        /*
                  selectionEl.style.border = "solid darkblue 1px";
                  selectionEl.style.backgroundColor = "lightgoldenrodyellow";
                  selectionEl.innerHTML = "&lt;- selection";
                  */
        selectionEl.style.position = "absolute";
        
        document.body.appendChild(selectionEl);
      }
      
      // Find markerEl position http://www.quirksmode.org/js/findpos.html
      var obj = markerEl;
      var left = 0, top = 0;
      do {
        left += obj.offsetLeft;
        top += obj.offsetTop;
      } while (obj = obj.offsetParent);
      
      // Move the button into place.
      // Substitute your jQuery stuff in here
      selectionEl.style.left = (left - (getSelectionDimensions()['width']/2)) + "px";
      selectionEl.style.top = top + "px";
      
      markerEl.parentNode.removeChild(markerEl);
    }

    return range.toString();
    
};
    
    
	var ENABLE_CONTEXT_MENU = false;

	Highlighter.prototype.ContentArea = 'contentarea';

	function stripHtml(html){
		var regex = /(<([^>]+)>|&(nbsp|amp|quot|lt|gt))/gi;
		return html.replace(regex," ");
	}

	Doctor.prototype.getContent = function(){
		return stripHtml($("#contentarea").html());
	}

	Doctor.prototype.getContentTitle = function(){
		return document.getElementById("content_title").value;
	}

	Doctor.prototype.getContentView = function(){
		return $("#"+contentarea).html();
	}

	Doctor.prototype.getContntCate = function(){
		return document.getElementById("content_cate").value;
	}

	Doctor.prototype.getContentFingerPrint = function(){
		return md5(JSON.stringify(this.wordArray));
	}

	action = actionEx;

	

	Highlighter.prototype.highlight = function (highlights,tag,id){
		if(highlights.length == 0)return;
		if(typeof(highlights) == 'undefined'){
			$("#"+this.ContentArea).removeAllHighlight();
			return;
		}
		var color = this.getColor(tag);
		var pattern = "\\b("+highlights.join('|')+")\\b";
		if(color != null)
			$("#"+this.ContentArea).highlight(pattern,color,id);
		else
			$("#"+this.ContentArea).removeHighlight(pattern,id);	
	};

	function getDocumentById(id){
		_couchDb.db().openDoc(id,
		{
			success:function(data){
				if(data.doc[0]){
					var html = data.doc[0].doc_html;
					$('#'+Highlighter.prototype.ContentArea).html(html);
				}
			}
		});
	}
	$("#"+Highlighter.prototype.ContentArea).live('DOMSubtreeModified',function(){
		if(typeof(this.initial) != 'undefined')return;
		this.initial = 1;
	
		action();
	});
</script>

<style type="text/css">
.container { border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll; }
</style>

</head>
<body>
<div style="display:none;">

<div id="popoverContent1" class="hide">
	<input id="bigbian" />
</div>    

 </div>
<div>
	<input id="content_title" value="">
	<input id="content_cate" value="">
	<input class="btn" id="actionbutton" type="button" value="action"/>
	<input class="btn1" type="button" value="action"/>
</div>

<div style="display:none;">
	<input id="wordTag" value="In:1" />
	<input id="submitbutton" type="button" value="submit" onclick="applyTag()"/ >
	<input id="removeTag" value="In:1" />
	<input id="submitRemove" type="button" value="remove"/ >	
	<input id="delTag" value="1" />
	<input id="submitDel" type="button" value="del" onclick="delTag()"/ >	
	<input id="tagColor" value="1:#BA70FF;2:#B0CC49;3:#E3AF78;4:#5C4545"/>
	
	<div>
		<input id="highlightsTags"/>
		<input id="highlight" type="button" value="highlight"/>
		<input id="assignTags"/>
		<input id="auto-classify" />
		<input id="commitAssign" type="button" value="mark"/>
	</div>
	<input id="updateTag" type="button" value="update" onclick="updateTagResult()"/>
	<input id="saveTagInfo" type="button" value="save"/>
	<input id="clearTagInfo" type="button" value="clear"/>
	<input id="outputTagInfo" type="button" value="output"/>
</div>
<div id="contentarea" contenteditable="true" spellcheck="false"></div>
<div id="resultarea"></div>
<div id="content_dict_area"></div></body>
<script type="text/javascript">

    function showTagPanel(){
    	var obj = document.querySelector("#big");

    	if(obj)obj.remove();

    	markSelection();

    	$('#big').popover({
            html: true,
            placement:'top',
            content: $('#popoverContent1').html(),
            trigger:'manual'
        });

    	$("#big").popover("show");

    }

    
	$(document).ready(function(){
		init_shortcuts();
		var menu = ui.menu()
		.add('Update',function(){saveEx();})
		.add('Edit item', function(e){ console.log(e); })
		.add('Remove item', function(){ console.log('remove'); })
		.add('Remove "Add item"', function(){
		  menu
		    .remove('Add item')
		    .remove('Remove "Add item"');
		});

		menu.on('Add item', function(){
		  console.log('item added');
		});

		oncontextmenu = function(e){
		  if(!ENABLE_CONTEXT_MENU)return;
		  e.preventDefault();
		  menu.moveTo(e.pageX, e.pageY).show();
		};		

		var id = localStorage.getItem('engrow_id');

		if(id){
			getDocumentById(id);
			localStorage.removeItem('engrow_id');

		}     
        
       
        
        $(document).on('dblclick',function (e) {
        	showTagPanel();
        	/*
        	console.log(e);
            if ($(e.target).is('.close')) {
                $('#big').popover('hide');
            }
            */
        });   

/*
        $(document).on('mouseup',function(e){
        	if(window.getSelectionText() == "")return;

        	showTagPanel();
        });
*/
        $(document).on('click',function (e) {
        	if(e.toElement == document.activeElement && document.activeElement.id == 'bigbian')return;

            if (document.querySelector(".popover")) {
                $('#big').popover('hide');
            }
        });     

		$('#bigbian').tagsinput({
		  itemValue: 'value',
		  itemText: 'text',
		  typeahead: {
		    source: function(query) {
		      return [{"value":1,"text":"Amsterdam","continent":"Europe"},{"value":4,"text":"Washington","continent":"America"},{"value":7,"text":"Sydney","continent":"Australia"},{"value":10,"text":"Beijing","continent":"Asia"},{"value":13,"text":"Cairo","continent":"Africa"},{"value":6,"text":"Buenos Aires","continent":"America"}];
		    }
		  }
		});
		 
		$('#bigbian').tagsinput('add', { "value": 1 , "text": "Amsterdam"  });
		$('#bigbian').tagsinput('add', { "value": 4 , "text": "Washington" });
		$('#bigbian').tagsinput('add', { "value": 7 , "text": "Sydney"     });
		$('#bigbian').tagsinput('add', { "value": 10, "text": "Beijing"    });
		$('#bigbian').tagsinput('add', { "value": 13, "text": "Cairo"      });
	});
</script>
</html>
