<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reader_style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reader_ui.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-tagsinput.css') }}">
<link rel="stylesheet" type="text/css" href="static/bootstrap/dist/css/bootstrap.css">
<script type="text/javascript" src="static/js/porterstemmer.js"></script>
<script type="text/javascript" src="static/js/utils.js"></script>
<script type="text/javascript" src="static/vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="static/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="static/assets/js/bootstrap/bootstrap.min.js"></script> 
<script type="text/javascript" src="static/js/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="static/js/typeahead.min.js"></script>
<script type="text/javascript" src="static/js/hogan-2.0.js"></script>
<script type="text/javascript">$.browser = {msie:0,opera:0,mozilla:0}</script>
<script type="text/javascript" src="static/js/apache.jquery.couch.js"></script>
<script type="text/javascript" src="static/js/jquery.myhighlight-3.js"></script>
<!--<script type="text/javascript" src="static/js/jquery.shortcuts.js"></script>-->
<script type="text/javascript" src="static/js/engrow.js"></script>
<script type="text/javascript" src="static/js/md5.js"></script>
<!--<script type="text/javascript" src="static/js/ui.js"></script>-->
<link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='assets/fonts/fonts.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/skin/default_skin/css/theme.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/admin-tools/admin-plugins/admin-panels/adminpanels.css') }}">
<style type="text/css">


.popover{
    display:block !important;
    max-width: 400px!important;
    width:auto;
}

</style>



<script type="text/javascript">
	//NO_WTI = true;
/*
	function init_contextmenu(tag_info_by_name){
		var menu = ui.menu();
		for(var i in tag_info_by_name){
			menu.add(i,function(){
				(function())
			});
			tag_info_by_name[i] 
		}
	}
*/


function getSelectionDimensions() {
    var sel = document.selection, range;
    var width = 0, height = 0;
    if (sel) {
        if (sel.type != "Control") {
            range = sel.createRange();
            width = range.boundingWidth;
            height = range.boundingHeight;
        }
    } else if (window.getSelection) {
        sel = window.getSelection();
        if (sel.rangeCount) {
            range = sel.getRangeAt(0).cloneRange();
            if (range.getBoundingClientRect) {
                var rect = range.getBoundingClientRect();
                width = rect.right - rect.left;
                height = rect.bottom - rect.top;
            }
        }
    }
    return { width: width , height: height };
}

var markSelection = function() {
    var markerTextChar = "\ufeff";
    var markerTextCharEntity = "&#xfeff;";

    var markerEl, markerId = "sel_" + new Date().getTime() + "_" + Math.random().toString().substr(2);

    var selectionEl;

    
    var sel, range;
    
    if (document.selection && document.selection.createRange) {
      // Clone the TextRange and collapse
      range = document.selection.createRange().duplicate();
      range.collapse(false);
      
      // Create the marker element containing a single invisible character by creating literal HTML and insert it
      range.pasteHTML('<span id="' + markerId + '" style="position: relative;">' + markerTextCharEntity + '</span>');
      markerEl = document.getElementById(markerId);
    } else if (window.getSelection) {
      sel = window.getSelection();
      
      if (sel.getRangeAt) {
        range = sel.getRangeAt(0).cloneRange();
      } else {
        // Older WebKit doesn't have getRangeAt
        range.setStart(sel.anchorNode, sel.anchorOffset);
        range.setEnd(sel.focusNode, sel.focusOffset);
        
        // Handle the case when the selection was selected backwards (from the end to the start in the
        // document)
        if (range.collapsed !== sel.isCollapsed) {
          range.setStart(sel.focusNode, sel.focusOffset);
          range.setEnd(sel.anchorNode, sel.anchorOffset);
        }
      }
      
      range.collapse(false);
      
      // Create the marker element containing a single invisible character using DOM methods and insert it
      markerEl = document.createElement("span");
      markerEl.id = markerId;
      markerEl.appendChild( document.createTextNode(markerTextChar) );
      range.insertNode(markerEl);
    }
    
    if (markerEl) {
      // Lazily create element to be placed next to the selection
      if (!selectionEl) {
        selectionEl = document.createElement("div");
        selectionEl.id = "big";
        /*
                  selectionEl.style.border = "solid darkblue 1px";
                  selectionEl.style.backgroundColor = "lightgoldenrodyellow";
                  selectionEl.innerHTML = "&lt;- selection";
                  */
        selectionEl.style.position = "absolute";
        
        document.body.appendChild(selectionEl);
      }
      
      // Find markerEl position http://www.quirksmode.org/js/findpos.html
      var obj = markerEl;
      var left = 0, top = 0;
      do {
        left += obj.offsetLeft;
        top += obj.offsetTop;
      } while (obj = obj.offsetParent);
      
      // Move the button into place.
      // Substitute your jQuery stuff in here
      selectionEl.style.left = (left - (getSelectionDimensions()['width']/2)) + "px";
      selectionEl.style.top = top + "px";
      
      markerEl.parentNode.removeChild(markerEl);
    }

    return sel.toString();
    
};
    
    
	var ENABLE_CONTEXT_MENU = false;

	Highlighter.prototype.ContentArea = 'contentarea';

	function stripHtml(html){
		var regex = /(<([^>]+)>|&(nbsp|amp|quot|lt|gt))/gi;
		return html.replace(regex," ");
	}

	Doctor.prototype.getContent = function(){
		return stripHtml($("#contentarea").html());
	}

	Doctor.prototype.getContentTitle = function(){
		return document.getElementById("content_title").value;
	}

	Doctor.prototype.getContentView = function(){
		return $("#"+contentarea).html();
	}

	Doctor.prototype.getContntCate = function(){
		return document.getElementById("content_cate").value;
	}

	Doctor.prototype.getContentFingerPrint = function(){
		return md5(JSON.stringify(this.wordArray));
	}

	action = actionEx;

	

	Highlighter.prototype.highlight = function (highlights,tag,id){
		if(highlights.length == 0)return;
		if(typeof(highlights) == 'undefined'){
			$("#"+this.ContentArea).removeAllHighlight();
			return;
		}
		var color = this.getColor(tag);
		var pattern = "\\b("+highlights.join('|')+")\\b";
		if(color != null)
			$("#"+this.ContentArea).highlight(pattern,color,id);
		else
			$("#"+this.ContentArea).removeHighlight(pattern,id);	
	};

	function getDocumentById(id){
		_couchDb.db().openDoc(id,
		{
			success:function(data){
				if(data.doc[0]){
					var html = data.doc[0].doc_html;
					$('#'+Highlighter.prototype.ContentArea).html(html);
				}
			}
		});
	}

</script>

<style type="text/css">
.container { border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll; }
</style>

</head>
<body>
<div id="popoverContentContainer" style="display:none;">

<div id="popoverContent1">
	<input class="bigbian" />
</div>    

 </div>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a>
      </li>
      <li class="disabled"><a href="#">Link</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a>
          </li>
          <li><a href="#">Another action</a>
          </li>
          <li><a href="#">Something else here</a>
          </li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a>
          </li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a>
          </li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <button class="btn">Save</button>
    </form>
  </div>
  <!-- /.navbar-collapse -->
</nav>

<div style="display:none;">
	<input id="content_cate" value="">
	<input class="btn" id="actionbutton" type="button" value="action"/>
	<input class="btn1" type="button" value="action"/>
</div>

<div style="display:none;">
	<input id="wordTag" value="In:1" />
	<input id="submitbutton" type="button" value="submit" onclick="applyTag()"/ >
	<input id="removeTag" value="In:1" />
	<input id="submitRemove" type="button" value="remove"/ >	
	<input id="delTag" value="1" />
	<input id="submitDel" type="button" value="del" onclick="delTag()"/ >	
	<input id="tagColor" value="1:#BA70FF;2:#B0CC49;3:#E3AF78;4:#5C4545"/>
	
	<div>
		<input id="highlightsTags"/>
		<input id="highlight" type="button" value="highlight"/>
		<input id="assignTags"/>
		<input id="auto-classify" />
		<input id="commitAssign" type="button" value="mark"/>
	</div>
	<input id="updateTag" type="button" value="update" onclick="updateTagResult()"/>
	<input id="saveTagInfo" type="button" value="save"/>
	<input id="clearTagInfo" type="button" value="clear"/>
	<input id="outputTagInfo" type="button" value="output"/>
</div>

<div class='admin-panels'>
<div class="col-md-6 col-lg-3" id="grid-3" style="margin-left:15%;width:70%">
                            
                    
                    <div class="panel mobile-controls" id="p20">
                                <div class="panel-heading">
                                    <span class="panel-title text-info fw700"><i class="fa fa-pencil hidden"></i>Dot/Addon Stats</span>
                                </div>
                                           
                        <div id="contentarea" contenteditable="true" class="panel-body pn"></div>

                        </div>
                    </div>

            </div>
</div>
<!--<div id="contentarea" contenteditable="true" spellcheck="false"></div>-->
<div id="resultarea"></div>
<div id="content_dict_area"></div></body>
<!-- Admin Panels  -->
<script type="text/javascript" src="{{ url_for('static',filename='assets/admin-tools/admin-plugins/admin-panels/json2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='assets/admin-tools/admin-plugins/admin-panels/jquery.ui.touch-punch.min.js') }}"></script>
<!-- Theme Javascript -->
<script type="text/javascript" src="static/assets/js/utility/utility.js"></script>
<script type="text/javascript" src="static/assets/js/main.js"></script>
<script type="text/javascript" src="static/assets/js/demo.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='assets/admin-tools/admin-plugins/admin-panels/adminpanels.js') }}"></script>
<script type="text/javascript">

var valSelected = false;
var selectedText = "";

    function showTagPanel(){
      //console.log($("#big").popover());
      if (document.querySelector(".popover")) {
           $("#popoverContentContainer").append($("#popoverContent1"));
      }

    	$('#big').popover({
            animation:false,
            html: true,
            placement:'top',
            content: function(){ return $('#popoverContent1');},
            trigger:'manual'
        })

    	$("#big").popover("show");

    }

    function hideTagPanel(){
      $("#popoverContentContainer").append($("#popoverContent1"));
      $('#big').popover('hide');      
    }

    
	$(document).ready(function(){
		/*init_shortcuts();
		var menu = ui.menu()
		.add('Update',function(){saveEx();})
		.add('Edit item', function(e){ console.log(e); })
		.add('Remove item', function(){ console.log('remove'); })
		.add('Remove "Add item"', function(){
		  menu
		    .remove('Add item')
		    .remove('Remove "Add item"');
		});

		menu.on('Add item', function(){
		  console.log('item added');
		});

		oncontextmenu = function(e){
		  if(!ENABLE_CONTEXT_MENU)return;
		  e.preventDefault();
		  menu.moveTo(e.pageX, e.pageY).show();
		};		
*/
		var id = localStorage.getItem('engrow_id');

		if(id){
			getDocumentById(id);
			localStorage.removeItem('engrow_id');

		}     
        
 
        
        $(document).on('dblclick',function (e) {
        	if(!document.querySelector(".popover")){
              var obj = document.querySelector("#big");

              if(obj)obj.remove();

              selectedText = markSelection();

              $('.bigbian').tagsinput('removeAll');

              var tagsArray = tagger.getTags(selectedText);

              tagsArray.forEach(function(key){
                if(!key)return;
                $('.bigbian').tagsinput('add', { "key": key , "name":  tagger.getTagName(key) });
              });
              
              showTagPanel();
          }
        		
        	/*
        	console.log(e);
            if ($(e.target).is('.close')) {
                $('#big').popover('hide');
            }
            */
        });


/*
        $(document).on('mouseup',function(e){
        	if(window.getSelectionText() == "")return;

        	showTagPanel();
        });
*/
        $('.bootstrap-tagsinput > span > span[data-role=remove]').on('click',function(e){
          // valSelected = true;
            //showTagPanel();
        });
        
        
        $(document).on('click',function (e) {
        	if(document.activeElement.parentNode.className == 'twitter-typeahead' || valSelected){valSelected = false;return;}

            if (document.querySelector(".popover")) {
                var tags = $('.bigbian').val();
                tagger.setTag(selectedText,tags);
                hideTagPanel();
            }
          valSelected = false;
        });     


function initTagsInput(dataset){
    if(!dataset)return;

    var substringMatcher = function(objs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(objs, function(i, obj) {
          if (substrRegex.test(obj.name)) {
            // the typeahead jQuery plugin expects suggestions to a
            // JavaScript object, refer to typeahead docs for more info
            matches.push(obj);
          }
        });

        cb(matches);
      };
    };

  $('.bigbian').tagsinput({
    itemValue: 'key',
    itemText: 'name'
  });
  //$('.bigbian').tagsinput('add', { "value": 1 , "text": "Amsterdam"   , "continent": "Europe"    });

   
  $('.bigbian').tagsinput('input').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'dataset',
    displayKey: 'name',
    source: substringMatcher(dataset)
  }).bind('typeahead:selected', $.proxy(function (obj, datum) {
    valSelected = true;
    this.tagsinput('add', datum);
    this.tagsinput('input').typeahead('resetInputValue');
    //$("#popoverContentContainer").append($("#popoverContent1"));
    //hideTagPanel();
    showTagPanel();
  }, $('.bigbian')));  
}


  $("#"+Highlighter.prototype.ContentArea).on('DOMSubtreeModified',function(){
    if(typeof(this.initial) != 'undefined')return;
    this.initial = 1;
  
    action(function(tags,hl){
          tagger.tags = tags;
          highlighter = hl;
          gTagger = new Tagger(twi,stemmer,gc);
          tagger.mergeCommonTag(twi);
          dataset = tagger.getTagsArray();
          initTagsInput(dataset);
    });
  });		 
  // Init Admin Panels on widgets inside the ".admin-panels" container
  $('.admin-panels').adminpanel({
      grid: '.admin-grid',
      draggable: true,
      mobile: false
  });
	});
</script>
</html>